:root{

	--color-bg-uno:#bdbdbd;
  --color-bg-dos:#1b2e3f;
  --color-bg-tres:#fff;
  --color-bg-cuatro:#405c75;

}
body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   
    height: 100%;
    color: var(--color-bg-tres);
    padding: 0;
    margin: 0;
    background: #0f0;
     background-image: linear-gradient(to right, var(--color-bg-dos) , var(--color-bg-cuatro));
     background-size: cover;
}
header{
  display: block;
  background: #0f0;
  border-bottom: 3px solid var(--color-bg-uno);
}
section{
    color: #000;
    overflow: scroll;
}
aside{
  background: var(--color-bg-dos);
}
.arb-maxagro-titel{
  width: 100%;
      position: fixed;
 
   background:var(--color-bg-dos);
   min-height: 40px;
   max-height: 9%;
 }
aside img{
width: 100%;

top: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    list-style:none;
    list-style-type: none;
    margin-bottom: 5%;
}
input,button{
      padding: 13px;
  background: var(--color-bg-uno);
  border:0;
  border-radius: 4px;
}
th{
  color:#fff;
  background: var(--color-bg-dos);
}
tr{
color:#fff;
  background:  var(--color-bg-dos);
}
tr:nth-child(even){

  background-color: #2d475f4f}
#arb-page{
    
    background: var(--color-bg-dos);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    margin: 10px;
    display: none;

}
#arb-page-block{
    position: absolute;
    top: 1%;
    left: 16%;
    background: var(--color-bg-dos);
    width: 18px;
    height: 30px;
    line-height: 2vw;
    z-index: 1;
}
@media screen and (max-width: 768px){
  #arb-page{
    display: block;
  } 
  #arb-page-block{
    display: none;
  }

}
#arb-aside {
  background: #fff;
    width: 16%;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 1%;
    left: 0;
    overflow-y: scroll;
    z-index: 1;
     background: var(--color-bg-dos);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);    
}
@keyframes animationLogin{
   0%   {  transform: rotateX(90deg); transform-origin: top center; }
   100% { transform: rotateX(0deg);transform-origin: top center;}

}
@keyframes animationHideLogin{
   from   {  transform: rotateX(0deg); transform-origin: top center; }
   to { transform: rotateX(90deg);transform-origin: top center;}

}
.arb-agro-login {

    animation-fill-mode: forwards;
}
.arb-login-contaner{
  border:1px solid #FFF;
  padding: 10% ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-animation{
  animation-name: animationLogin;
  animation-duration: 2s;
  
}
.hide-login{
  animation-name: animationLogin;
  animation-duration: 3s;
    animation-direction: reverse;
   animation-fill-mode: forwards;
}

.arb-login-contaner button{
  background: var(--color-bg-tres);
}
.arb-login-contaner a{
  display: block;
  text-decoration: none;
  padding:  0 0 12% 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  list-style: none;
}
.arb-maxagro-menu-cont{
    background: var(--color-bg-dos);
    padding: 0;
    width: 17%;
    position: inherit;
    border-right: 1px solid #fff;
    top: auto;
    /* left: 0; */
    /* bottom: 0; */
    overflow: scroll;
}
.arb-maxagro-menu {
    list-style-type: none;
    width: 100%;
    padding:0;
    margin: 0;
    list-style:none;
    list-style-type: none;
  
}
.li_active{
    padding: 16px;
    background: var(--color-bg-cuatro);
    border-left: 2px solid var(--color-bg-uno);
}
.arb-maxagro-menu-item {
    padding: 16px 0 16px 0;
      list-style:none;
    list-style-type: none;
}
.arb-maxagro-menu-item a{
  padding-left: 16px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
  
}
.arb-maxagro-menu-item:hover
{
  background: var(--color-bg-cuatro);
}
.submenu{
   display: none;
   padding: 0;
   border-left: 1px solid green;
   background: var(--color-bg-cuatro); 
}
.submenu a{
  display: block;
}
.arb-footer ul li{
  list-style: none;
  padding:0 6px 0 6px; 
  display: inline-block;
}
.agromas_menu{
overflow: scroll;
    margin-top: 70px;
}
.titel-label{
    font-size: 2vw;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 4vw;
}
.toggle {
      display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5%;
    left: 50%;
    border-radius: 50%;
}
.toggle:hover{
  background: var( --color-bg-dos);
}
::-webkit-scrollbar {
    width: 0px;
}
.bg-conteiner{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pull-right-container {
    position: absolute;
    right: 10px;

}
.bg-div{

    
    display: inline-block;
    width: 1%;
    height: 100vh;

}
.bg-div:hover{
  background: var(--color-bg-uno);
 
}
/*body{
	border: 0;
	padding: 0;
	margin:0;
	color: #fff; 
  
}
header{
height: 9%;
background: var(--color-bg-primerio);
}
header strong{
	    display: inline-block;
    width: 74%;
    text-align: center;
}



aside ul {
list-style-type: none;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    list-style:none;
    list-style-type: none;
}
aside ul li{
	margin: 35px 0 15px 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #000;
    color: #fff;
        list-style:none;
    list-style-type: none;
}
.agromas_menu{
color: #000;
padding-left: 20%;
padding-top: 5%; 
}
.agromas_menu strong{
	display: block;

padding-bottom: 5%;

}
.login-form{
   background: var(--color-bg-primerio);
  position: absolute;
  bottom: 0;
  top: 9%;
  right: 0;
  left: 0;
}
.login-form span{
  text-align: left;
  display: inline-block;
  width: 10%;
}
div button{
display: inline-block;
width: 10%;
margin-bottom: 20px;
  border-radius: 4px;
}
.login-form img {
   background: var(--color-bg-primerio);
   display: block;
    width: 15%;
}

.form-productores span{

	text-align: left;
	display: inline-block;
	width: 25%;

}
input {
  width: 25%;
  border-radius: 4px;
  margin-bottom: 1%;
}

a{
    color: #fff;
    text-decoration: none;
        list-style:none;
    list-style-type: none;
}
.arb-footer ul li{
list-style: none;
list-style-type: none;

}
::-webkit-scrollbar {
    width: 0px;
}*/