:root{

	--color-bg-uno:#bdbdbd;
  --color-bg-dos:#2d475f;
  --color-bg-tres:#fff;

}
body{

  background-repeat: no-repeat;
  color: var(--color-bg-tres);

}
header{
  border-bottom: 3px solid var(--color-bg-uno);
}
section{
    color: #000;
    overflow: scroll;
}
aside{
  background: var(--color-bg-dos);
}
.arb-maxagro-titel{
  width: 100%;
      position: fixed;
    z-index: 2;
   background:var(--color-bg-dos);
   max-height: 9%;
 }
.arb-maxagro-titel img{
height: 30px;
width: auto;
max-height: 5%;
top: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    list-style:none;
    list-style-type: none;
    margin-bottom: 5%;
}
input,button{
      padding: 13px;
  background: var(--color-bg-uno);
  border:0;
  border-radius: 4px;
}
th{
  color:#fff;
  background: var(--color-bg-dos);
}
tr{
color:#fff;
  background:  var(--color-bg-dos);
}
tr:nth-child(even){

  background-color: #2d475f4f}
#arb-page{
    background: var(--color-bg-dos);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    margin: 10px;
    display: none;

}
@media screen and (max-width: 768px){
  #arb-page{
    display: block;
  } 

}
#arb-aside {
    width: 16%;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 5%;
    left: 0;
    overflow-y: scroll;
    z-index: 1;
     background: var(--color-bg-dos);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);    
}
.arb-login-contaner{
  background: var(--color-bg-dos);
  border:1px solid #FFF;
  padding: 10% ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.arb-login-contaner button{
  background: var(--color-bg-tres);
}
.arb-login-contaner a{
  display: block;
  text-decoration: none;
  padding:  0 0 12% 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  list-style: none;
}
.arb-maxagro-menu-cont{
    background: var(--color-bg-dos);
    padding: 0;
    width: 17%;
    position: inherit;
    border-right: 1px solid #fff;
    top: auto;
    /* left: 0; */
    /* bottom: 0; */
    overflow: scroll;
}
.arb-maxagro-menu {
    list-style-type: none;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    list-style:none;
    list-style-type: none;
  
}
.arb-maxagro-menu li{
    margin: 35px 0 15px 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #000;
    color: #fff;
    list-style:none;
    list-style-type: none;
}
.submenu{
   display: none;
   padding: 0;
   border-left: 1px solid green; 
}
.arb-footer ul li{
  list-style: none;
  padding:0 6px 0 6px; 
  display: inline-block;
}
.agromas_menu{
overflow: scroll;
    margin-top: 70px;
}
.titel-label{
    font-size: 2vw;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 4vw;
}
::-webkit-scrollbar {
    width: 0px;
}
/*body{
	border: 0;
	padding: 0;
	margin:0;
	color: #fff; 
  
}
header{
height: 9%;
background: var(--color-bg-primerio);
}
header strong{
	    display: inline-block;
    width: 74%;
    text-align: center;
}



aside ul {
list-style-type: none;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    list-style:none;
    list-style-type: none;
}
aside ul li{
	margin: 35px 0 15px 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #000;
    color: #fff;
        list-style:none;
    list-style-type: none;
}
.agromas_menu{
color: #000;
padding-left: 20%;
padding-top: 5%; 
}
.agromas_menu strong{
	display: block;

padding-bottom: 5%;

}
.login-form{
   background: var(--color-bg-primerio);
  position: absolute;
  bottom: 0;
  top: 9%;
  right: 0;
  left: 0;
}
.login-form span{
  text-align: left;
  display: inline-block;
  width: 10%;
}
div button{
display: inline-block;
width: 10%;
margin-bottom: 20px;
  border-radius: 4px;
}
.login-form img {
   background: var(--color-bg-primerio);
   display: block;
    width: 15%;
}

.form-productores span{

	text-align: left;
	display: inline-block;
	width: 25%;

}
input {
  width: 25%;
  border-radius: 4px;
  margin-bottom: 1%;
}

a{
    color: #fff;
    text-decoration: none;
        list-style:none;
    list-style-type: none;
}
.arb-footer ul li{
list-style: none;
list-style-type: none;

}
::-webkit-scrollbar {
    width: 0px;
}*/